@page "/todoList"
@inherits ToDoListBase


<h3> To Do List</h3>


@if(Tasks==null || Assginees ==null)
{
    //<div> Loading Tasks...</div>

    <LoadingIndicator/>
}
else
{
  <div class ="row">
    <EditForm Model="@TaskListSearch">
     <div class ="row">
       <div class ="col">
        <label> Name </label>
        <InputText  class="form-control" @bind-Value="TaskListSearch.Name"> </InputText>
       </div>
       <div class ="col">
        <label> Assignee </label>
        <InputSelect  class="form-control" @bind-Value="TaskListSearch.AssigneeId"> 
        @foreach ( var assignee in Assginees)
        {
                <option value ="@assignee.Id">@assignee.FullName </option>
        }
        </InputSelect>
       </div>
       <div class ="col">
        <label> Priority</label>
        <InputSelect  class="form-control" @bind-Value="TaskListSearch.Priority"> 
       @foreach ( string item in Priorities)
        {
                <option value ="@item">@item </option>
        }
       </InputSelect>
       </div>
       
       <div class ="col pt-4">
        <button type ="submit" class ="btn btn-success"> Search</button>
       </div>
        </div>
    </EditForm>
  </div>
  <div class ="row mt-4">
  
<table class="table">
<thead>
<tr>
<th>
Name
</th>
<th>
Priority
</th>
<th>
Assignee
</th>
<th>
Created Date
</th>
<th>
Status
</th>
</tr>
<th>
</th>
</thead>

<tbody>
  @foreach ( var item in Tasks)
  {
      <tr> 
      <td>@item.Name</td>
      <td>@item.Priority</td>
      <td>@item.AssigneeName</td>
      <td>@item.CreatedDate.ToString("dd/MM/yyy hh:mm")</td>
        <td>@item.Status</td>
      </tr>
      <td>
       <a href ="/taskDetails/@item.Id"> Detail </a>
       </td>
  }

</tbody>


</table>
</div>
}